/* login page*/

#login {
    background: #DF314D;
    color: white;
    text-align: center;
}

#login input {
    clear: both;
    opacity: 80%;
}

#loginbox {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hidethis {
    display: none;
}

/* */
body, html {
    height: 100%;
    margin: 0;
    overflow:auto;
    font-family: helvetica;
    font-weight: 100;
}
.container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}
 
.container.open-sidebar {
    left: 240px;
    position: fixed;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}
 
#sidebar {
    position: absolute;
    left: -240px;
    background: #DF314D;
    width: 240px;
    height: 100%;
    box-sizing: border-box;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar ul li {
    margin: 0;
}
#sidebar ul li a {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #C9223D;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}
#sidebar ul li:hover a {
    background: #C9223D;
}
.info_view {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}
.info_view .content{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 60px;
    width: 100%;
}
.info_view .content h1{
    font-weight: 100;
}
.info_view .content p{
    width: 100%;
    line-height: 160%;
}
.info_view #sidebar-toggle {
    background: #DF314D;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
}
.info_view #sidebar-toggle .bar{
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;   
}
.info_view #sidebar-toggle .bar:last-child{
    margin-bottom: 0;   
}

#stickytoggle {
    position: fixed;
}
/* fieldview*/
#fieldname {
    text-align: center;
}
.fieldview ul {
    text-align: center;
    list-style-type: none;
}

.fieldview li {
    display: block;
}