@import url(https://fonts.googleapis.com/css?family=Oxygen:300);

/* CSS declarations go here */
input.error {
	background-color:rgb(255, 231, 231);
}

.toggleslide {
	transform: translate3d(256px, 0px, 0px);
}

/* Sidebar */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    min-height: 90%;
    /*margin: 0 auto -155px;  the bottom margin is the negative value of the footer's height */
}

#content {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #fff;
}

#content {
    font-family: 'Oxygen', sans-serif;
}

#content h1 {
    font-weight: 600;
}

#content h2 {
    font-weight: 400;
}

#body {
    margin-top: 3%;
    margin-bottom: 3%;
}

.push {
    height: auto;
}
#footer {
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    height: auto;
}
#slideout-menu {
    background: #DF314D;
}

#slideout-menu ul li label{
    display: block;
    width: 100%;
    height: 100%;
}

#slideout-menu ul li label {
    cursor: pointer; cursor: hand;
}

#slideout-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#slideout-menu ul li {
    margin: 0;
}
#slideout-menu ul li a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
#slideout-menu ul li {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #C9223D;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}
#slideout-menu ul li:hover {
    background: #C9223D;
}
#slideout-menu ul li ul li:hover {
    background: #B9223C;
}
#slideout-menu ul li ul li a:hover {
    background: #A9223B;
}
#slideout-menu > ul > li >label,  #slideout-menu > ul > li > ul > li >label{
    font-weight: 100;
}

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 300px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

@media (max-width: 800px) {
    .slide-menu {
        width: 40%;
    }
}

.slideout-panel {
    position:relative;
    z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

.centerDiv {
    text-align: center;
}

#registerInput {
    width: 250px;
}

#nav ul.sub-nav {
    display: none;
}

#nav ul.visible {
    display: block;
}

#nav ul.sub-nav2 {
    display: none;
}

#nav ul.visible2 {
    display: block;
}
.overlay_score {
    position:absolute;
    display:none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    z-index:9999;
    color:white;
}

select {
    width: 100%;
    height: 80px;
    min-height: 80px;
    max-height: 30%;
  /*min-height: 50px;*/
}

.vishead {
    color: #fff;
}

.team_1_col, .team_2_col { 
    padding: 8px;
}

.exit {
    position: relative;
    width: 100%;
}

.exit:hover {
    cursor: pointer; cursor: hand;
}

#exit {
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
}
.viscue {
    height: 50%;
}

/*
######################################################################
##
## Same height columns
##
######################################################################
*/
.inside {
  margin-top: 20px;
  margin-bottom: 20px;
  background: inherit;
  background: -webkit-gradient(linear, left top, left bottom,color-stop(0%, inherit), color-stop(100%, inherit));
  background: -moz-linear-gradient(top, inherit 0%, inherit 100%);
  background: -ms-linear-gradient(top, inherit 0%, inherit 100%);
}
.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

/* columns of same height styles */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}


