/* CSS declarations go here */
input.error {
	background-color:rgb(255, 231, 231);
}

.toggleslide {
	transform: translate3d(256px, 0px, 0px);
}

/* Sidebar */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#content {
    width: 100%;
    height: 100%;
    background-color: white;
}

#slideout-menu {
    background-color: #ddd;
}

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 600px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position:relative;
    z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

.centerDiv {
    text-align: center;
}

#registerInput {
    width: 250px;
}

#nav ul.sub-nav {
    display: none;
}

#nav ul.visible {
    display: block;
}

#nav ul.sub-nav2 {
    display: none;
}

#nav ul.visible2 {
    display: block;
}
.overlay {
    position:absolute;
    display:none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    z-index:9999;
    color:white;
} 
/* game view*/
